<% provide(:title, "Ask Hitmunk") %>
<div class="row">
  <div class="col-md-12 col-md">
    <% @questions.each do |question| %>
      <li>
        <%= link_to question_path(question) do %>
          <span class="glyphicon glyphicon-comment">
          </span>
          <%= pluralize(question.comments.size, "comment") %>
        <% end %>
          <strong><%= link_to "#{question.title}", question_path(question) %></strong>
          (<%= time_ago_in_words(question.created_at) %> ago)
        by <%= link_to "#{question.user.username}", user_path(question.user) %>
      </li>
    <% end %>
  </div>
  <div class="col-md-4 col-md">
  </div>
</div>
