<div class="row">
  <div class="col-md-4 col-md">
    <%= form_for(:session, url: signin_path) do |f| %>

      <%= f.label :username_or_email %>
      <%= f.text_field :username_or_email, required: true, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, required: true, class: 'form-control' %>

      <%= f.submit "Sign in", class: "btn btn-primary", method: :post %>
    <% end %><br>
    <p><em>New to the <%= "#{$SITE_TITLE}" %> community? <%= link_to "Sign up here", signup_path %></em></p>
  </div>
</div>
