<% provide(:title, "Add new link") %>
<div class="row">
  <div class="col-md-4 col-md">
    <h1>Add New Link</h1>
    <%= form_for(@link, url: links_path(@link)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %> <!--f.object is @link -->

      <%= f.label :title %>
      <%= f.text_field :title, required: true %>

      <%= f.label :url %>
      <%= f.text_field :url, required: true %>

      <!-- @user.new.new_record? == true will issue a POST request -->
      <%= f.submit "Post", class: "btn btn-primary",
                               method: :post %>
    <% end %>
  </div>
</div>
